{% extends 'base.html.twig' %}

{% block title %}BonLivraison index{% endblock %}

{% block body %}
    <h1>BonLivraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bon_livraison in bon_livraisons %}
            <tr>
                <td>{{ bon_livraison.id }}</td>
                <td>
                    <a href="{{ path('bon_livraison_show', {'id': bon_livraison.id}) }}">show</a>
                    <a href="{{ path('bon_livraison_edit', {'id': bon_livraison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bon_livraison_new') }}">Create new</a>
{% endblock %}
