{% extends 'base.html.twig' %}

{% block title %}New Fichier{% endblock %}

{% block body %}
    <h1>Create new Fichier</h1>

    {{ include('fichier/_form.html.twig') }}

    <a href="{{ path('fichier_index') }}">back to list</a>
{% endblock %}
